@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    33-35 Debevoise Avenue <br />
    Roosevelt, NY 11575<br />
    <abbr title="Phone">P:</abbr>
    1 (888) 3-PARABIT
</address>

<address>
    <strong>Service:</strong>   <a href="mailto:servicecall@parabit.com">servicecall@parabit.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@parabit.com">sales@parabit.com</a>
</address>