
<div style="text-align:center">
    <font color="red" style="font-weight:bold;" size="4">
        RMA Disclaimer<br><br>
    </font>
</div>
    <font color="black"style="font-weight:bold;">
        <ul>
            <li>
                All returns need to be followed in accordance with Parabit’s RMA policies. Failure to follow the RMA instructions may result in a void in warranty, delays in product replacement, issuing of credit or decline of the RMA.
                <br><br>
            </li>
            <li>
                All original equipment, components, manuals, cables, documents and packaging must be returned with your item for Parabit to process your RMA. Mark your RMA Case number clearly on the outside of the return package. Items received damaged due to improper packaging are the responsibility of the Customer.
                <br><br>
            </li>
            <li>
                Process only one (1) site per RMA form.  RMA forms listing more than one site or return shipments containing more than one site per box will not be processed or eligible for credit or replacement.
                <br><br>
            </li>
            <li>
                All returns/packaging are subject to incoming inspection through Parabit’s quality control process.
                <br><br>
            </li>
            <li>
                All electrostatic-sensitive devices (PC Boards, Readers, etc.) must be returned in pink or silver anti-static packaging and will undergo incoming inspection. ESD product(s) that have not been handled correctly or failure to properly return the electronic parts will void the Warranty and the item(s) will not be eligible for credit or replacement.
                <br><br>
            </li>
            <li>
                Do not staple anything to the ESD shielding packaging. Any ESD packaging found with staple holes, rips or tears will void the item’s Warranty and will not be eligible for credit or replacement.
                <br><br>
            </li>
            <li>
                Once the RMA form has been properly submitted, a “Case” number will be generated, and an email notification will be sent to the Requester/Customer. Please note that the case number acts as your authorization to return the equipment in question.
                <br><br>
            </li>
            <li>
                The RMA Case number will be valid for thirty (30) calendar days. Products returned after thirty (30) days will not be eligible for testing, credit or replacement.
                <br><br>
            </li>
            <li>
                Include the RMA documentation/Case Number with ALL return items (Print/include the email received after submitting the RMA form). Items received by Parabit without a reference Case number will be returned to sender..
                <br><br>
            </li>
            <li>
                Customer is responsible for all shipping charges.
                <br><br>
            </li>
            <li>
                Return the package to the following address:<br>
                <p style="padding-left:5%">
                    Parabit Systems, Inc.<br>
                </p>
                <p style="padding-left:5%">
                    Attn: RMA Department<br>
                </p>
                <p style="padding-left:5%">
                    35 Debevoise Ave.<br>
                </p>
                <p style="padding-left:5%">
                    Roosevelt, NY 11575<br>
                </p><br>
            </li>
            <li>
                RESTOCKING FEES: In the event an item(s) is returned to Parabit due to a non-manufacturing defect, a 35% restocking fee will be applied to the returned product(s).
            </li>
        </ul>

        <br>
        <br>
        <br>


    </font>
        <br>
        <br>

