
<link rel='stylesheet' id='cf7cf-style-css' href='https://parabit.com/wp-content/plugins/cf7-conditional-fields/style.css?ver=1.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-bootstrap-style-css' href='https://parabit.com/wp-content/plugins/bootstrap-for-contact-form-7/assets/dist/css/style.min.css?ver=4.9.8' type='text/css' media='all' />
<link rel='stylesheet' id='cf7.slim.css-css' href='https://parabit.com/wp-content/plugins/slim-contact-form-7/lib/slim.min.css?ver=1.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='cf7.field.css-css' href='https://parabit.com/wp-content/plugins/slim-contact-form-7/field/styles.css?ver=1.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css' href='https://parabit.com/wp-includes/css/dashicons.min.css?ver=4.9.8' type='text/css' media='all' />
<link rel='stylesheet' id='thickbox-css' href='https://parabit.com/wp-includes/js/thickbox/thickbox.css?ver=4.9.8' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css-css' href='https://parabit.com/wp-content/themes/parabit-2015/css/bootstrap.min.css?ver=3.3.4' type='text/css' media='all' />
<link rel='stylesheet' id='bst-css-css' href='https://parabit.com/wp-content/themes/parabit-2015/css/bst.css' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-css-css' href='https://parabit.com/wp-content/plugins/contact-form-7-datepicker-fix/css/jquery-ui.css?ver=4.9.8' type='text/css' media='all' />
<script type='text/javascript' src='https://parabit.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://parabit.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://parabit.com/wp-content/plugins/sp-client-document-manager/js/jquery.remodal.js?ver=4.9.8'></script>
<script type='text/javascript' src='https://parabit.com/wp-content/plugins/sp-client-document-manager/js/jquery.responsive.tabs.js?ver=4.9.8'></script>

<div class="section1" <span=""><span class="slim" data-status-file-size="File is too big, maximum file size: $0 MB." data-status-file-type="Invalid file type, expects: $0." data-status-image-too-small="Image is too small, minimum size is: $0 pixels." data-max-file-size="15" data-post="output" data-filter-sharpen="15" data-size="640,480" data-download="true" data-state="empty"><input class="wpcf7-form-control wpcf7-slim" aria-invalid="false" accept="image/*" type="file"><input name="upload-file-3" type="hidden"><div class="slim-file-hopper"></div><div class="slim-area">

<div class="slim-loader">
	<svg>
		<path class="slim-loader-background" fill="none" stroke-width="3" d="M 11.494659292840298 3.000001677832694 A 8.5 8.5 0 1 0 11.5 3"></path>
		<path class="slim-loader-foreground" fill="none" stroke-width="3" d="M 11.5 20 A 8.5 8.5 0 0 0 11.5 3"></path>
	</svg>
</div>


<div class="slim-upload-status"></div>

				<div class="slim-drip"><span><span></span></span></div>
				<div class="slim-status"><div class="slim-label"><p>Drop your image here</p></div><div class="slim-label-loading"><p>Loading image...</p></div></div>

		<div class="slim-result">
			<img class="in" style="opacity:0"><img><img style="opacity:0">
		</div>
			</div><div class="slim-btn-group" style="display: none;"><button class="slim-btn slim-btn-remove" title="Remove" type="button" data-action="remove">Remove</button><button class="slim-btn slim-btn-edit" title="Edit" type="button" data-action="edit">Edit</button><button class="slim-btn slim-btn-download" title="Download" type="button" data-action="download">Download</button></div></span></div>
