<div class="section1">
    <span class="wpcf7-form-control-wrap upload-file-2">
        <span class="slim" data-status-file-size="File is too big, maximum file size: $0 MB." data-status-file-type="Invalid file type, expects: $0." data-status-image-too-small="Image is too small, minimum size is: $0 pixels." data-max-file-size="15" data-post="output" data-filter-sharpen="15" data-size="640,480" data-download="true" data-state="empty">
            <input class="wpcf7-form-control wpcf7-slim" aria-invalid="false" accept="image/jpeg,image/png,image/gif,image/bmp" type="file"><input name="upload-file-2" type="hidden"><div class="slim-file-hopper"></div><div class="slim-area">

                <div class="slim-loader">
                    <svg>
                        <path class="slim-loader-background" fill="none" stroke-width="3" d="M 11.494659292840298 3.000001677832694 A 8.5 8.5 0 1 0 11.5 3"></path>
                        <path class="slim-loader-foreground" fill="none" stroke-width="3" d="M 11.5 20 A 8.5 8.5 0 0 0 11.5 3"></path>
                    </svg>
                </div>


                <div class="slim-upload-status"></div>

                <div class="slim-drip"><span><span></span></span></div>
                <div class="slim-status"><div class="slim-label"><p>Drop your image here</p></div><div class="slim-label-loading"><p>Loading image...</p></div></div>

                <div class="slim-result">
                    <img class="in" style="opacity:0"><img><img style="opacity:0">
                </div>
            </div><div class="slim-btn-group" style="display: none;"><button class="slim-btn slim-btn-remove" title="Remove" type="button" data-action="remove">Remove</button><button class="slim-btn slim-btn-edit" title="Edit" type="button" data-action="edit">Edit</button><button class="slim-btn slim-btn-download" title="Download" type="button" data-action="download">Download</button></div>
        </span>
    </span>
</div>